<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="Prayaas Aggarwal, Vera Gluscevic, Mark Otto, Jacob Thornton, and Bootstrap contributors">

    <title>@ViewData["Title"] - USC CosmoLab</title>

    <link rel="canonical" href="link-to-homepage-here">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="https://getbootstrap.com/docs/4.4/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="https://getbootstrap.com/docs/4.4/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#563d7c">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/hamburgers.css">
</head>
<body class="bg">
    <div class="container-fluid">
        <div class="row">
            <nav id="thenavbar" style=" background-color:#990000;" class="col-0 col-md-1 col-lg-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <div class="nav flex-column">
                        <button onclick="hamburger()" id="hamburger_inner" class="hamburger hamburger--spin" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                        <div class="nav-item">
                            <a class="nav-link active row" asp-area="" asp-controller="Home" asp-action="Index">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="home"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">Home</div>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link row" asp-area="" asp-controller="Home" asp-action="Visualization">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="layers"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">Visualization</div>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link row" asp-area="" asp-controller="Home" asp-action="Research">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="file"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">Research</div>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link row" asp-area="" asp-controller="Home" asp-action="People">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="users"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">People</div>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link row" asp-area="" asp-controller="Home" asp-action="Publications">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="book"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">Publications</div>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link row" asp-area="" asp-controller="Home" asp-action="News">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="book-open"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">News</div>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link row" asp-area="" asp-controller="Home" asp-action="Openings">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="info"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">Openings</div>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link row" asp-area="" asp-controller="Home" asp-action="Contact">
                                <div name="hamburger_icons" class="col-6 col-md-9 col-lg-3 d-inline-block float-left px-1 text-right">
                                    <span data-feather="message-square"></span>
                                </div>
                                <div name="hamburger_names" class="col col-md-0 col-lg-9 d-md-none d-lg-inline-block px-0 text-left">Contact</div>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <main role="main" style="height: 100%;" class="col-12 col-md-11 offset-md-1 col-lg-10 offset-lg-2 px-4 main">
                <div class="container-fluid" style="padding-right: 0;">
                    <div class="col">
                        <div class="row">
                            <div class="col order-lg-2" style="width: 100%; text-align: center;">
                                <a href="http://www.usc.edu" style="background-color: #990000; display: inline-block;" class="rounded mx-auto">
                                    <img style="padding: 5%; max-width: 300px;" src="~/USC_logotype_white_gold.svg" class="image w-100 mx-auto" alt="USC Logo" />
                                </a>
                            </div>
                            <div class="col-2 d-block d-md-none">
                                <button onclick="hamburger()" name="hamburger-button" class="hamburger hamburger--collapse align-middle h-100" type="button">
                                    <span class="hamburger-box d-flex justify-content-center">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                            <div class="col-lg-9">
                                <h1 id="title-el" class="text-light float-left">Welcome to the USC CosmoLab</h1>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px;">
                            @RenderBody()
                        </div>
                    </div>
                 </div>
            </main>
        </div>

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/highcharts.src.js"></script>
    <script src="~/js/themes/dark-unica.js"></script>
    <script>
        function getViewport() {
            // https://stackoverflow.com/a/8876069
            // https://stackoverflow.com/questions/45394053/how-to-detect-screen-size-or-view-port-on-bootstrap-4-with-javascript
            const width = Math.max(
                document.documentElement.clientWidth,
                window.innerWidth || 0
            )
            if (width <= 576) return 'xs'
            if (width <= 768) return 'sm'
            if (width <= 992) return 'md'
            if (width <= 1200) return 'lg'
            return 'xl'
        }

        function open_hamburger() {
            document.getElementById("thenavbar").classList.remove('col-0');
            document.getElementById("thenavbar").classList.remove('d-none');
            document.getElementById("thenavbar").classList.remove('d-sm-none');
            document.getElementById("thenavbar").classList.add('col-12');

            //var els = document.getElementsByName("hamburger_names");
            //els.forEach(element => {
            //    //console.log(element);
            //});

            document.getElementById("hamburger_inner").classList.add('is-active');
            if (getViewport() == 'xs' || getViewport() == 'sm')
                document.getElementById("hamburger_inner").classList.add('text-right');
            else
                document.getElementById("hamburger_inner").classList.add('text-center');
        }

        function close_hamburger() {
            document.getElementById("thenavbar").classList.add('col-0');
            document.getElementById("thenavbar").classList.add('d-none');
            document.getElementById("thenavbar").classList.add('d-sm-none');
            document.getElementById("thenavbar").classList.remove('col-12');

            //var els = document.getElementsByName("hamburger_names");
            //els.forEach(element => {
            //    //console.log(element);
            //});

            document.getElementById("hamburger_inner").classList.remove('is-active');
            if (getViewport() == 'xs' || getViewport() == 'sm')
                document.getElementById("hamburger_inner").classList.remove('text-right');
            else
                document.getElementById("hamburger_inner").classList.remove('text-center');
        }

        function hamburger()
        {
            if ('hamburgerstatus' in window) {
                if (window.hamburgerstatus == 1) {
                    close_hamburger();
                    window.hamburgerstatus = 0;
                } else {
                    open_hamburger();
                    window.hamburgerstatus = 1;
                }
            } else {
                open_hamburger();
                window.hamburgerstatus = 1;
            }
        };

        function updatehubble(value) {
            document.getElementById("hubble-value").innerText = value;
            loadchart(false);
        };

        function updatebaryon(value) {
            document.getElementById("omegab-value").innerText = value;
            loadchart(false);
        };

        
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
