@{
    ViewData["Title"] = "Welcome to USC Astrophysics and Cosmology";
}

    <div class="col">
        <p class="text-light float-left">
            We are USC students, postdocs, staff, and faculty doing research in astrophysics and cosmology. 
            We come together in a variety of weekly meetings: 
            In CosmoLab (Thursdays), we review new papers and discuss progress and current issues related to research and academia, with occasional <a href="https://docs.google.com/spreadsheets/d/1qhGse1YyfmETjXLJ-Ax4pCSuXYTjPANKSLdju8PA3NY/edit?usp=sharing">Zoom talks</a> by researchers from other institutions.  
            In <a href="https://github.com/usc-cosmolab/hackspace">CosmoLab Hacks</a> (Fridays), we hack together virtually. 
            In <a href="https://docs.google.com/spreadsheets/d/11VpwmlDVFoKRHuaiCgwUHfncYLTbQwwG50CZyU0mElg/edit?usp=sharing">USC Cosmology Seminar</a> (Fridays), we host formal 1-hour talks by internal and external speakers. 
            You can contact gluscevi[at]usc.edu if you'd like to join any of our meetings.
            </p>
        
    </div>
<div class="col-lg-10 my-auto px-5 py-5 px-md-0 py-md-0">
    <img style="padding: 5%;" src="~/people_photos/cosmolab-zoom.png" class="rounded-heavy img-fluid float-right ml-auto" alt="..." />
    <p class="text-light float-left">
        Zoom-edition of CosmoLab meetings (June 2020).
    </p>
</div>
