@{
    ViewData["Title"] = "Home Page";
}

<div class="col">
    <p class="text-light float-left">
    CosmoLab is a group of USC researchers, students, postdocs, and faculty interested in cosmology and astrophysics.  
    </p>
    <p class="text-light float-left">
    More coming soon!    
    </p>
    
</div>
<div class="col-lg-3 my-auto px-5 py-5 px-md-0 py-md-0">
    <img style="padding: 5%;" src="~/placeholder.png" class="rounded-heavy img-fluid float-right ml-auto" alt="..." />
</div>
