@{
    ViewData["Title"] = "Welcome to the USC CosmoLab";
}

    <div class="col">
        <p class="text-light float-left">
            CosmoLab is a group of USC students, postdocs, staff, and faculty interested in astrophysics research. We have weekly meetings to review new papers, discuss progress in research, and hack together. If you'd like to join CosmoLab, please email gluscevi[at]usc.edu.
        </p>
        <p class="text-light float-left">
            More coming soon!
        </p>
        <!--Test comment. You can delete this line safely.-->
    </div>
<div class="col-lg-3 my-auto px-5 py-5 px-md-0 py-md-0">
    <img style="padding: 5%;" src="~/placeholder.png" class="rounded-heavy img-fluid float-right ml-auto" alt="..." />
</div>
