@{
    ViewData["Title"] = "Home Page";
}

<div class="col-lg-9">
    <p style="padding-top: 20px;" class="text-light float-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam risus massa, rhoncus nec porttitor vitae, pharetra vitae augue. Fusce viverra volutpat ante a iaculis. Aliquam erat volutpat. Maecenas a justo odio. Vivamus ornare erat et enim tincidunt, eget vehicula erat tincidunt. Nam semper neque ornare arcu hendrerit, a ornare nisi euismod. Etiam nulla enim, rutrum sit amet aliquet ut, mattis quis odio. Aliquam erat volutpat.
    </p>
    <p class="text-light float-left">
        Duis vitae ipsum lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel tempor velit. Ut scelerisque sapien est, in sollicitudin felis sodales at. Morbi dignissim justo in justo porta, ac pulvinar quam mollis. Vestibulum eget magna leo. Sed venenatis tellus quis ante vulputate viverra. Phasellus placerat sapien eu nibh ullamcorper, ultricies suscipit mauris sollicitudin. Nulla facilisi. Nam quis euismod diam. Nam ut condimentum ex. Nullam a ultrices eros, sit amet facilisis nisl. Pellentesque in magna sem.
    </p>
    <p class="text-light float-left">
        Ut turpis magna, semper nec massa quis, tempus venenatis orci. Aliquam erat volutpat. Nullam ac blandit tellus. Praesent commodo ex purus, vitae dignissim justo egestas a. Nunc condimentum nulla quis arcu blandit gravida. Vivamus molestie consequat viverra. Nam iaculis velit non fringilla gravida. Aenean eget euismod dui. Donec diam nulla, ultricies a faucibus vitae, efficitur et ligula. Donec sit amet purus non nibh fringilla condimentum vel sit amet ligula.
    </p>
</div>
<div class="col my-auto px-5 py-5 px-md-0 py-md-0">
    <img style="padding: 5%;" src="placeholder.png" class="rounded-heavy img-fluid float-right ml-auto" alt="..." />
</div>