@{
    ViewData["Title"] = "Home Page";
}

<div class="col">
    <p class="text-light float-left">
    Coming soon!    
    </p>
    <p class="text-light float-left">
        Duis vitae ipsum lorem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vel tempor velit. Ut scelerisque sapien est, in sollicitudin felis sodales at. Morbi dignissim justo in justo porta, ac pulvinar quam mollis. Vestibulum eget magna leo. Sed venenatis tellus quis ante vulputate viverra. Phasellus placerat sapien eu nibh ullamcorper, ultricies suscipit mauris sollicitudin. Nulla facilisi. Nam quis euismod diam. Nam ut condimentum ex. Nullam a ultrices eros, sit amet facilisis nisl. Pellentesque in magna sem.
    </p>
    
</div>
<div class="col-lg-3 my-auto px-5 py-5 px-md-0 py-md-0">
    <img style="padding: 5%;" src="~/placeholder.png" class="rounded-heavy img-fluid float-right ml-auto" alt="..." />
</div>
