
@{
    ViewData["Title"] = "News";
}

    <div class="col text-light">
        <h6>May 2020: David Nguyen wins <a href="https://www.spsnational.org/scholarships/leadership#:~:text=The%20purpose%20of%20the%20Society,stages%20of%20their%20undergraduate%20careers.">Society of Physics Students Leadership Scholarship</a>.</h6>
        <p>
            Well done, David!
        </p>
        <br />

        <h6>May 2020: Five new astrophysics grad students are joining USC.</h6>
        <p>
            Welcome to Trey, Dawei, Jack, Joshua, Adam! Thanks to all who helped host prospective students.
        </p>
        <br />

        <h6>April 2020: Chris Lindsay to Yale and Sydney Feldman to MIT for grad school.</h6>
        <p>
            Big congrats, we'll miss you!
        </p>
        <br />

        <h6>Jan 2020: Karime Maamari wins <a href="https://undergrad.usc.edu/experience/research/undergrad_research/">USC Provost's Undergrad Research Fellowship</a>.</h6>
        <p>
            Congrats, Karime!
        </p>
        <br />

    </div>
<!--<div class="col-lg-3 my-auto px-5 py-5 px-md-0 py-md-0">
    <img style="padding: 5%;" src="~/placeholder.png" class="rounded-heavy img-fluid float-right ml-auto" alt="..." />
</div>-->
