
@{
    ViewData["Title"] = "News";
}

    <div class="col text-light">
        <h4>Title</h4>
        <p>
            Summary
        </p>
        <br />

        <h4>Title</h4>
        <p>
            Summary
        </p>
        <br />

        <h4>Title</h4>
        <p>
            Summary
        </p>
    </div>
<div class="col-lg-3 my-auto px-5 py-5 px-md-0 py-md-0">
    <img style="padding: 5%;" src="~/placeholder.png" class="rounded-heavy img-fluid float-right ml-auto" alt="..." />
</div>
