@{
    ViewData["Title"] = "People";
}

    <div class="row" style="width: 100%;">
        <!-- An image with text below it. -->
        <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
            <img style="max-width: 75%;" src="~/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
            <h5 class="text-center text-light">Name</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
            <img style="max-width: 75%;" src="~/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
            <h5 class="text-center text-light">Name</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
            <img style="max-width: 75%;" src="~/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
            <h5 class="text-center text-light">Name</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
            <img style="max-width: 75%;" src="~/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
            <h5 class="text-center text-light">Name</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
            <img style="max-width: 75%;" src="~/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
            <h5 class="text-center text-light">Name</h5>
        </div>
        <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
            <img style="max-width: 75%;" src="~/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
            <h5 class="text-center text-light">Name</h5>
        </div>
    </div>