@{
    ViewData["Title"] = "Meet the group";
}
<h2 class="text-light">Current Members</h2>
<div class="row" style="width: 100%;">
    <!-- An image with text below it. -->
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/vera.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light"><a class="custom-hyperlink" href="https://www.gluscevic.org/">Vera Gluscevic</a><br>Assist. professor<br>Physics and Astronomy</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/tim.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Tim Morton<br>Research scientist<br>Physics and Astronomy</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/Aryan.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Aryan Rahimieh<br>Graduate student</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Dimple Sarnaaik</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Isabella Johansson</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Resherle Verna</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">George (Trey) Driskell</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Anastasia Haynie</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Brenda Zhou</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Karime Maamari</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Jack Lashner</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Remington Gerras</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">David Nguyen</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Darina Daly</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Dawei (David) Zhong</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Jack Lonergan</div>
    </div>
</div>


<h2 class="text-light">Former Members</h2>

<div class="row" style="width: 100%;">
    <h6 class="text-center text-light">Christopher Lindsay (USC Physics and Astronomy, class of 2020)</h6><br>
    <h6 class="text-center text-light">Sydney Feldman (USC Physics and Astronomy, class of 2020)</h6><br>
    <h6 class="text-center text-light">Connor Powers (USC Physics and Astronomy, class of 2021)</h6><br>

</div>
