@{
    ViewData["Title"] = "Meet the group";
}
<h2 class="text-light">Current Members</h2>
<div class="row" style="width: 100%;">
    <!-- An image with text below it. -->
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/vera.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light"><a class="custom-hyperlink" href="https://www.gluscevic.org/">Vera Gluscevic</a><br>Assist. professor<br>Physics and Astronomy</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/tim.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Tim Morton<br>Research scientist<br>Physics and Astronomy</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/Aryan.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Aryan Rahimieh<br>Graduate student</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/dimple.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Dimple Sarnaaik<br>Undergraduate student<br>Physics/CS major/Astronomy minor</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/Isabella.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Isabella Johansson<br>Graduate student</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Resherle Verna</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">George (Trey) Driskell</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/Anna.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light"><a class="custom-hyperlink" href="https://dornsife.usc.edu/cf/phys/student_display.cfm?Person_ID=1083906">Annastasia Haynie</a><br>Graduate student</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/brenda.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Brenda Zhou<br>Undergraduate student<br>Physics major/Astronomy minor</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Karime Maamari</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Jack Lashner</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/remy.jpg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light"><a class="custom-hyperlink" href="https://www.remygerras.com/">Remington Gerras</a><br>Graduate student</div> 
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/david.jpeg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">David Nguyen<br>Undergraduate student<br>Physics major/Astronomy minor</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/darina.jpeg" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Darina Daly<br>Undergraduate student<br>Astronomy major</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Dawei (David) Zhong</div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-auto px-4 text-center">
        <img style="max-width: 75%;" src="~/people_photos/placeholder.png" class="rounded-heavy img-fluid" alt="..." />
        <div class="text-center text-light">Jack Lonergan</div>
    </div>
</div>


<h2 class="text-light">Former Members</h2>

<div class="row" style="width: 100%;">
    <h6 class="text-center text-light">Christopher Lindsay (USC Physics and Astronomy, class of 2020)</h6><br>
    <h6 class="text-center text-light">Sydney Feldman (USC Physics and Astronomy, class of 2020)</h6><br>
    <h6 class="text-center text-light">Connor Powers (USC Physics and Astronomy, class of 2021)</h6><br>

</div>
