@{
    ViewData["Title"] = "Talks";
}

<!--<div class="col">
    <p class="text-light float-left">The current schedule of CosmoLab Seminar talks by external speakers is available <a href="https://docs.google.com/spreadsheets/d/1qhGse1YyfmETjXLJ-Ax4pCSuXYTjPANKSLdju8PA3NY/edit?usp=sharing"> here</a>.</p>
</div>-->

    <ul class="col">
        <li class="text-light float-left readable">
            <a class="custom-hyperlink" href="https://docs.google.com/spreadsheets/d/1qhGse1YyfmETjXLJ-Ax4pCSuXYTjPANKSLdju8PA3NY/edit?usp=sharing">
                CosmoLab Seminar.
            </a>
            <br />
            Schedule of the USC CosmoLab external-speaker series, aimed at grad-student audience; email gluscevi[at]usc.edu for access.
        </li>
        <li class="text-light float-left readable">
            <a class="custom-hyperlink" href="https://www.bsmpandemic.com/">
                BSM Pandemic.
            </a>
            <br />
            High-energy physics talks with dark-matter and cosmology flavors, at a fairly high technical level. Requires signup in advance.
        </li>
        

    </ul>