
@{
    ViewData["Title"] = "Visualization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<li class="container-fluid" style="padding-right: 0;">
    <div class="col" style="padding: 0;">
        <div class="row">
            <h1 class="text-light float-left">CMB Visualization</h1>
            <a href="http://www.usc.edu" style="background-color: #990000; min-height: 2.5rem;" class="float-right rounded ml-auto">
                <img style="padding: 5%;" src="~/USC_logotype_white_gold.svg" class="image w-100" alt="USC Logo" />
            </a>
        </div>
        <div style="padding-top: 20px;" class="row">
            <div id="chart-container" style="width:100%; height:400px;"></div>
        </div>
    </div>
</li>