
@{
    ViewData["Title"] = "Visualization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    

    <script>

        $(function () {
            $('#log').change(function () {
                if ($(this).prop('checked')) {
                    graphtype = 'logarithmic';
                }
                loadchart(true);
            })
            $('#lin').change(function () {
                if ($(this).prop('checked')) {
                    graphtype = 'linear';
                }
                loadchart(true);
            })
        })

        document.getElementById("chart-container").onload = loadchart(true);
        var graphtype = 'logarithmic';
        var myChart;

        function loadchart(animate) {
            var info = {
                h: document.getElementById("h").value,
                ocdm: document.getElementById("ocdm").value,
                ok: document.getElementById("ok").value
            };
            jQuery.ajax({
                type: "POST",
                url: "/Home/NewChart",
                data: info,
                dataType: "json", 
                success: function (chData) {
                    console.log("success");
                    if (chData[0][0] == 69420) {
                        chData = null;
                        myChart.destroy();
                        $('#errormessage').removeAttr('hidden');
                        $('#errormessage').show();
                        //return;
                    } else {
                        console.log("not null");
                        $('#errormessage').hide();
                    }

                    Highcharts.setOptions({
                        plotOptions: {
                            series: {
                                animation: animate
                            }
                        }
                    });

                    var tit = '\u2113(\u2113 + 1) /(2\uD835\uDF0B)C';

                    myChart = Highcharts.chart('chart-container', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'The CMB anisotropy spectra',
                            style: {
                                fontSize: '36px'
                            }
                        },
                        yAxis: {
                            className: 'y-prop',
                            type: graphtype,
                            title: {
                                text: tit
                            }
                        },
                        xAxis: {
                            className: 'y-prop',
                            type: 'logarithmic',
                            title: {
                                text: '\u2113'
                            }
                        },
                        series: [
                            {
                                name: 'TT',
                                data: chData[0],
                                pointStart: 1
                            },
                            {
                                name: 'EE',
                                data: chData[1],
                                pointStart: 1
                            },
                            {
                                name: 'TE',
                                data: chData[2],
                                pointStart: 1
                            }
                        ]
                    }); console.log("set chart stuff");
                }
            });
        };
    </script>
}

<div class="col flex">
    <div id="chart-container"></div>
    <div class="row">
        <div class="col">
            <label class="text-light">This visualization is made possible by the CLASS project. Check out the original paper and code.</label>
        </div>
        <div class="flex-column align-middle">
            <button type="button" class="btn btn-dark mt-2" onclick="window.open('https://arxiv.org/abs/1104.2933')"><span data-feather="book"></span></button>
            <button type="button" class="btn btn-dark mt-2" onclick="window.open('https://github.com/lesgourg/class_public')"><span data-feather="github"></span></button>
        </div>
    </div>
    <div id="errormessage" hidden class="alert alert-warning" role="alert">
        <h5 class="alert-heading">Oops</h5>
        <p>The visualization couldn't be loaded for the selected values. Not all possible combinations are supported by the backend library that powers the data behind this visualization.</p>
        <hr>
        <p class="mb-0">Try adjusting the parameters using the sliders.</p>
    </div>
</div>
<div class="col-lg-3 my-auto px-5 py-5 px-md-0 py-md-0 text-center">
    <div class="col">
        <label class="text-light" for="graphtoggle">Y Axis Scaling:</label>
    </div>
    <div class="col">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="options" id="log" checked> Logarithmic
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="options" id="lin"> Linear
            </label>
        </div>
    </div>
    <div class="col">
        <label class="text-light" for="h">Hubble Parameter h:</label>
    </div>
    <div class="col">
        <label id="hubble-value" class="text-light" runat="server">0.7</label>
        <input type="range" id="h" name="h" min="0.3" max="1.5" step="0.2" value="0.6" onchange="updatehubble(value)">
    </div>
    <div class="col">
        <label class="text-light" for="ocdm">Cold Dark Matter Density Ω<sub>cdm</sub>:</label>
    </div>
    <div class="col">
        <label id="omegacdm-value" class="text-light" runat="server">0.2</label>
        <input type="range" id="ocdm" name="ocdm" min="0" max="1" step="0.2" value="0.2" onchange="updatecdm(value)">
    </div>
    <div class="col">
        <label class="text-light" for="ok">Curvature of the Universe Ω<sub>k</sub>:</label>
    </div>
    <div class="col">
        <label id="omegak-value" class="text-light" runat="server">0</label>
        <input type="range" id="ok" name="ok" min="-0.6" max="0.4" step="0.2" value="0" onchange="updatek(value)">
    </div>
</div>